<a href="https://colab.research.google.com/github/kobestenson/COMPPHYS/blob/main/Kobe_Stenson_00_python_intro_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import modules

```
import numpy as np
from matplotlib import pyplot as plt
```

In [1]:
# your code here
import numpy as np
from matplotlib import pyplot as plt

# Defining Variables

### A single variable
```
x = 2
```

### A list
A list can contain different types of elements: numbers, strings, array, tuples.
```
mynumbers = [1,2,3]
```

```
myletters = ['a','b','c','d','e']
```

In [2]:
# define a variable x and set it equal to 1
x=1

In [3]:
x

1

# Printing

Printing is so important when developing code.  If something is not working,
you should insert print statements to check the values of your variables
at different points in your code.

The basic print format is:

```
print("This is a print statement.")
```

In [5]:
# write a print statement to print "hello world!"
print("hello world!")

hello world!

# Formatting Printing

Our variables often have a large number of decimal places, and you might not
want to print the full number.

In [6]:
# formatted print statement
print(f"the value of x = {x}")

the value of x = 1

In [8]:
np.pi

3.141592653589793

In [9]:
print(f"pi = {np.pi}")

pi = 3.141592653589793

In [11]:
print(f"pi = {np.pi:.2f}")

pi = 3.14

# Functions

Functions are chunks of code that can take input arguments and
can return values.

Here is a simple function that takes a number as an input and
returns the number plus one and then prints the results.

```
def addone(x):
    """  this function adds one to the input number """
    x = x + 1
    print(x)
```

In [39]:
# define the addone function here
def addone(x):
    """  this function adds one to the input number """
    x = x + 1
    return x

### Calling a function

In the cell below, set `x=1` and pass `x` to `addone`.

Then let's look at what happens to the value of x in the
variable editor.

In [40]:
# define x =1
x = 1

# pas x to the function addone

addone(x)
print(f"x = {x}")


y = addone(x)
print(f"y = {y}")

x = 1
y = 2

### Returning values from a function

In [43]:
# update the addone funtion to:
# print 2 decimal places
# return the new value
def addone(x):
    """  this function adds one to the input number """
    x = x + 1
    print(f"new value = {x:.2f}")
    return x

In [44]:
y = addone(x)

new value = 2.00

# For Loops

Let's set up an array to contain 10 values:
```
myvals = np.arange(10)
```

Now let's use a for loop to print out the number greater than 5.

In [56]:
# your code here
# for loop to print out numbers greater than 5
myvals = np.arange(10)
#print(myvals)

for v in myvals:
  if v>5:
    print(v)

[0 1 2 3 4 5 6 7 8 9]
6
7
8
9

In [55]:
for v in myvals:
  print(v)

for i in range(len(myvals)):
  print(myvals[i])

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

# While loops

A `while` loop will continue until the conditional is not met.

Let's write a while loop to keep incrementing a number until the number reaches 20.

In [ ]:
# while loop to keep incrementing a number until the number reaches 20

# Conditionals

In [ ]:
# ask for an input number
test_number = float("enter a number between 1 and 10")

# if number is greater than 10, then reject input

# if number is less than 1, then reject input

# if the user enters 7, print "lucky guess"

# for all other numbers, print "not correct - better luck next time!"

# Basic Plotting

Visualizing variables is essential for checking and understanding the results
of any code that we write.

We will start with a simple example to plot $y = 2 x^2$ over the range $0 \le x \le 10$.

In [ ]:
# code to make plot here

# define x using np.linspace

# define y

# open a figure


# plot y vs x using plt.plot


# make another figure, but use plt.scatter instead of plt.plot